*{
	margin:0px;
	padding:0px;	
}

@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

body {
	text-align: center;
	clear: both;
	float: none;
	height: auto;
	width: auto;
	margin: 2px;
	border-left-style: none;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #373737 url(back.jpg) 0 0 repeat;
	
}
#hearder{
	width: auto;
	border: 1px solid black;
	clear: both;
	float: none;
	height: auto;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;	

}
#LB{
	
	margin:0.5px;
	padding:0.5px;
	float:left;
	webkit-transition:-webkit-transform 2s, opacity 2s, background 2s, width 2s, height 2s;
	-moz-transition:-webkit-transform 2s, opacity 2s, background 2s, width 2s, height 2s;
}
#LB:hover{
	-webkit-transform:rotate(325deg);
	-moz-transform:rotate(325deg);
	opacity:1;	
}

#title{
	border:1px solid black;
	text-align:center;
	font:24px "Comic Sans MS" ;
	text-shadow:rgb(110,110,110) 5px 5px 7px;
	background-image:url(bg.png);
}
#page{
	border:2px solid black;
	width:100%;
	display:-webkit-box;
	display:-moz-box;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-webkit-box-pack:center;
	-moz-box-pack:center;

}
#boxleft{
	border:2px solid black;
	padding:2px;
	margin:2px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}
#boxRegister{
	border:2px solid black;
	padding:2px;
	margin:2px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}
#boxR{
	border:2px solid black;
	padding:2px;
	margin:2px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}

#page img{
	 -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     transition: all 0.5s ease;	
}
#page img:hover {
   border-radius: 50%;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
   transform: rotate(360deg);
}

