body
{
padding-top:1px;
padding-bottom:0px;
padding-left:5px;
padding-right:5px;
text-align:center;
height:auto;
width:auto;
float:none;
border-top-style:none;
border-bottom-style:none;
border-left-style:none;
border-right-style:none;
clear:both;
margin:2px;
background:#373737 url("back.jpg") 0 0 repeat;
}
div
{
text-align:center;
}
#header
{
float:none;
clear:both;
border:1px solid black;
width:auto;
height:auto;
margin-top:20px;
margin-bottom:20px;
margin-left:auto;
margin:right:auto;
}
#LB
{
margin:0.5px;
padding:0.5px;
float:left;
-webkit-transition:-webkit-transform 2s,opacity 2s,background 2s,height 2s,width 2s;
-moz-transition:-moz-transform 2s,opacity 2s,background 2s,height 2s,width 2s;
}
#LB:hover
{
-webkit-transform:rotate(325deg);
-moz-transform:rotate(325deg);
opacity:1;
}
#title{
	border:1px solid black;
	text-align:center;
	font:24px "Comic Sans MS" ;
	text-shadow:rgb(110,110,110) 5px 5px 7px;
	background-image:url(bg.png);
}
#left_box
{
border:2px solid black;
padding:2px;
height:400;
margin:2px;
-moz-box-flex:0;
vertical-align:middle;
-webkit-box-flex:0;
float:left;
width:auto;
}
#right_box
{
border:2px solid black;
	padding:2px;
	margin:2px;
	height:400px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}
button
{
 background-repeat:round;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	-webkit-border-radius:25px;	
	-moz-border-radius:25px;
	box-shadow:rgb(110,110,110) 3px 3px 3px inset;
	font-size:18px;
	background-color:#FFF;
}
button:hover
{
color:blue;
}
table{
	border-collapse:separate; 
	 
}
table, th, td {
   border: 1px solid black;
} 
input, button, label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text], input[type=password] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: black;
  background: white;
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
label {
   
  width: 100px;
  line-height: 40px;
  padding-right: 1px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}
.login-button{
	font-size:14px bold;	
    background-repeat:round;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	-webkit-border-radius:25px;	
	-moz-border-radius:25px;
	box-shadow:rgb(110,110,110) 3px 3px 3px inset;
	font-size:18px;
	background-color:#FFF;

}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#boxleft{
	border:2px solid black;
	padding:2px;
	margin:2px;
	float:left;
}
#boxRegister{
	border:2px solid black;
	padding:2px;
	margin:2px;
}

#page img{
	 -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     transition: all 0.5s ease;	
}
#page img:hover {
   border-radius: 50%;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
   transform: rotate(360deg);
}
img, object, embed, video {
	max-width: 150%;
}